--
-- PostgreSQL database dump
--

\restrict aegbNAJiZdEKQ1mPldoNDWyDdDEGGd6XIHJuKqHtCT7bgPT2qyH4GwFByOCohbO

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: case_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.case_status_enum AS ENUM (
    'intake',
    'offer',
    'accepted',
    'closed'
);


--
-- Name: match_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.match_status AS ENUM (
    'pending',
    'approved',
    'rejected'
);


--
-- Name: user_role_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.user_role_enum AS ENUM (
    'seller',
    'partner',
    'admin',
    'buyer'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: client; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.client (
    id integer NOT NULL,
    company_id integer NOT NULL,
    name character varying(200) NOT NULL,
    email character varying(320) NOT NULL,
    address character varying(300) NOT NULL,
    location character varying(200) NOT NULL
);


--
-- Name: client_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.client ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.client_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: company; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.company (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    email character varying(320) NOT NULL
);


--
-- Name: company_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.company ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.company_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ground; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ground (
    id integer NOT NULL,
    location character varying(200) NOT NULL,
    m2 integer NOT NULL,
    budget numeric(12,2) NOT NULL,
    subdivision_type character varying(120) NOT NULL,
    owner character varying(200) NOT NULL,
    image_url text NOT NULL,
    address character varying(300) NOT NULL,
    provider character varying(200) NOT NULL,
    CONSTRAINT ground_budget_check CHECK ((budget >= (0)::numeric)),
    CONSTRAINT ground_budget_nonnegative_check CHECK ((budget >= (0)::numeric)),
    CONSTRAINT ground_m2_check CHECK ((m2 >= 0)),
    CONSTRAINT ground_m2_nonnegative_check CHECK ((m2 >= 0))
);


--
-- Name: ground_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.ground ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ground_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: match; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.match (
    id integer NOT NULL,
    ground_id integer NOT NULL,
    m2_score double precision DEFAULT 0 NOT NULL,
    budget_score double precision DEFAULT 0 NOT NULL,
    status public.match_status DEFAULT 'pending'::public.match_status NOT NULL,
    location_score double precision DEFAULT 0 NOT NULL,
    client_id integer NOT NULL,
    type_score double precision DEFAULT 0 NOT NULL,
    CONSTRAINT match_budget_score_check CHECK ((budget_score >= ((0)::numeric)::double precision)),
    CONSTRAINT match_location_score_check CHECK ((location_score >= ((0)::numeric)::double precision)),
    CONSTRAINT match_m2_score_check CHECK ((m2_score >= ((0)::numeric)::double precision))
);


--
-- Name: match_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.match ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.match_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: preferences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.preferences (
    id integer NOT NULL,
    client_id integer NOT NULL,
    location character varying(200) NOT NULL,
    subdivision_type character varying(120) NOT NULL,
    min_m2 integer NOT NULL,
    max_m2 integer NOT NULL,
    min_budget numeric(12,2) NOT NULL,
    max_budget numeric(12,2) NOT NULL,
    CONSTRAINT chk_budget_range CHECK (((min_budget IS NULL) OR (max_budget IS NULL) OR (min_budget <= max_budget))),
    CONSTRAINT chk_m2_range CHECK (((min_m2 IS NULL) OR (max_m2 IS NULL) OR (min_m2 <= max_m2))),
    CONSTRAINT preferences_budget_range_check CHECK ((min_budget <= max_budget)),
    CONSTRAINT preferences_m2_range_check CHECK ((min_m2 <= max_m2)),
    CONSTRAINT preferences_max_budget_check CHECK (((max_budget IS NULL) OR (max_budget >= (0)::numeric))),
    CONSTRAINT preferences_max_m2_check CHECK (((max_m2 IS NULL) OR (max_m2 >= 0))),
    CONSTRAINT preferences_min_budget_check CHECK (((min_budget IS NULL) OR (min_budget >= (0)::numeric))),
    CONSTRAINT preferences_min_m2_check CHECK (((min_m2 IS NULL) OR (min_m2 >= 0)))
);


--
-- Name: preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.preferences ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.preferences_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: client client_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_id_key UNIQUE (id);


--
-- Name: client client_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_pkey PRIMARY KEY (id);


--
-- Name: company company_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company
    ADD CONSTRAINT company_name_key UNIQUE (name);


--
-- Name: company company_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company
    ADD CONSTRAINT company_pkey PRIMARY KEY (id);


--
-- Name: ground ground_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ground
    ADD CONSTRAINT ground_pkey PRIMARY KEY (id);


--
-- Name: match match_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_pkey PRIMARY KEY (id);


--
-- Name: preferences preferences_client_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.preferences
    ADD CONSTRAINT preferences_client_id_key UNIQUE (client_id);


--
-- Name: preferences preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.preferences
    ADD CONSTRAINT preferences_pkey PRIMARY KEY (id);


--
-- Name: match uq_match_pair; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT uq_match_pair UNIQUE (client_id, ground_id);


--
-- Name: idx_client_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_client_company_id ON public.client USING btree (company_id);


--
-- Name: idx_ground_budget; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ground_budget ON public.ground USING btree (budget);


--
-- Name: idx_ground_location; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ground_location ON public.ground USING btree (location);


--
-- Name: idx_ground_m2; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ground_m2 ON public.ground USING btree (m2);


--
-- Name: idx_ground_provider; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ground_provider ON public.ground USING btree (provider);


--
-- Name: idx_match_ground; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_match_ground ON public.match USING btree (ground_id);


--
-- Name: idx_match_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_match_status ON public.match USING btree (status);


--
-- Name: idx_preferences_client_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_preferences_client_id ON public.preferences USING btree (client_id);


--
-- Name: client client_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.company(id) ON DELETE SET NULL;


--
-- Name: match match_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.client(id) ON DELETE CASCADE;


--
-- Name: match match_ground_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_ground_id_fkey FOREIGN KEY (ground_id) REFERENCES public.ground(id) ON DELETE CASCADE;


--
-- Name: preferences preferences_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.preferences
    ADD CONSTRAINT preferences_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.client(id) ON DELETE CASCADE;


--
-- Name: client; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.client ENABLE ROW LEVEL SECURITY;

--
-- Name: company; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.company ENABLE ROW LEVEL SECURITY;

--
-- Name: match; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.match ENABLE ROW LEVEL SECURITY;

--
-- Name: preferences; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.preferences ENABLE ROW LEVEL SECURITY;

--
-- PostgreSQL database dump complete
--

\unrestrict aegbNAJiZdEKQ1mPldoNDWyDdDEGGd6XIHJuKqHtCT7bgPT2qyH4GwFByOCohbO

